<div class="row mb-2">
  <div class="col-8">
    <h1 class="display-4">Tarefas</h1>
  </div>

  <div class="col-4 mt-4 text-right">
    <%= link_to "+ Tarefa", new_tarefa_path, class: 'btn btn-success' %>
  </div>
</div>

<% if @tarefas.any? %>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Prazo</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tarefas.each do |tarefa| %>
        <%= render 'table_row', tarefa: tarefa %>

        <% tarefa.sub_tarefas.order(:due_date).each do |sub_tarefa| %>
          <%= render 'table_row', tarefa: sub_tarefa %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhuma tarefa foi cadastrada ainda.</p>
<% end %>